In [1]:
pip install --upgrade plotly pandas

Requirement already satisfied: plotly in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (5.24.0)
Requirement already satisfied: pandas in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.2)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from plotly) (9.0.0)
Requirement already satisfied: packaging in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from plotly) (24.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\DELL\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import ydata_profiling 
from datetime import datetime
import plotly.express as px
import plotly.io as pio 
import nbformat 
from dash.dependencies import Input, Output
import geopandas

C:\Users\DELL\AppData\Local\Temp\ipykernel_24916\2422519926.py:2: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
C:\Users\DELL\AppData\Local\Temp\ipykernel_24916\2422519926.py:3: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html
C:\Users\DELL\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
data1 = pd.read_csv('country_wise_latest.csv')
data2 = pd.read_csv('covid_19_clean_complete.csv')
data3 = pd.read_csv('worldometer_data.csv')
data4 = pd.read_csv('usa_county_wise.csv')
data5 = pd.read_csv('full_grouped.csv')
data6 = pd.read_csv('day_wise.csv')

In [4]:
#data1.isnull().sum()
#data2.isnull().sum()
#data3.isnull().sum()
#data4.isnull().sum()
#data5.isnull().sum()
#data6.isnull().sum()

In [5]:
mode_value = data2['Province/State'].mode()[0]
data2['Province/State'].fillna(mode_value, inplace=True)
print(data2['Province/State'].isnull().sum())

0

C:\Users\DELL\AppData\Local\Temp\ipykernel_24916\2413857317.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2['Province/State'].fillna(mode_value, inplace=True)

In [6]:
coulm_with_null3 =data3.isnull().any()
coulm_with_null3

Country/Region      False
Continent            True
Population           True
TotalCases          False
NewCases             True
TotalDeaths          True
NewDeaths            True
TotalRecovered       True
NewRecovered         True
ActiveCases          True
Serious,Critical     True
Tot Cases/1M pop     True
Deaths/1M pop        True
TotalTests           True
Tests/1M pop         True
WHO Region           True
dtype: bool

In [7]:
columns = ['Population','NewCases','TotalDeaths','NewDeaths','TotalRecovered','NewRecovered','ActiveCases','Serious,Critical','Tot Cases/1M pop','Deaths/1M pop','TotalTests','Tests/1M pop']
for column in columns:
    mean_value = data3[column].mean()
    data3[column].fillna(mean_value, inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_24916\3618620102.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[column].fillna(mean_value, inplace=True)

In [8]:
coulm_with_null4 =data4.isnull().any()
coulm_with_null4

UID               False
iso2              False
iso3              False
code3             False
FIPS               True
Admin2             True
Province_State    False
Country_Region    False
Lat               False
Long_             False
Combined_Key      False
Date              False
Confirmed         False
Deaths            False
dtype: bool

In [9]:
colum = 'WHO Region'
mode_value = data3[colum].mode()[0]
data3[colum].fillna(mode_value,inplace=True)

column_name = 'Admin2'
most_frequent_value = data4[column_name].mode()[0]
data4[column_name].fillna(most_frequent_value, inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_24916\3596960467.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[colum].fillna(mode_value,inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_24916\3596960467.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data4[column_name].fillna(most_frequent_value, inplace=True)

In [10]:
data3.isnull().sum()

Country/Region      0
Continent           1
Population          0
TotalCases          0
NewCases            0
TotalDeaths         0
NewDeaths           0
TotalRecovered      0
NewRecovered        0
ActiveCases         0
Serious,Critical    0
Tot Cases/1M pop    0
Deaths/1M pop       0
TotalTests          0
Tests/1M pop        0
WHO Region          0
dtype: int64

In [11]:
data3.head(10)

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,1980.5,162804.0,300.0,2.576668e+06,1706.0,2.292707e+06,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,1980.5,98644.0,300.0,2.047660e+06,1706.0,7.712580e+05,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,1980.5,41638.0,300.0,1.377384e+06,1706.0,6.063870e+05,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,1980.5,14606.0,300.0,6.763570e+05,1706.0,1.809310e+05,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,1980.5,9604.0,300.0,3.873160e+05,1706.0,1.412640e+05,539.0,9063.0,162.0,3149807.0,53044.0,Africa
5,Mexico,North America,1.290662e+08,462690,6590.0,50517.0,819.0,3.088480e+05,4140.0,1.033250e+05,3987.0,3585.0,391.0,1056915.0,8189.0,Americas
6,Peru,South America,3.301632e+07,455409,1980.5,20424.0,300.0,3.103370e+05,1706.0,1.246480e+05,1426.0,13793.0,619.0,2493429.0,75521.0,Americas
7,Chile,South America,1.913251e+07,366671,1980.5,9889.0,300.0,3.401680e+05,1706.0,1.661400e+04,1358.0,19165.0,517.0,1760615.0,92022.0,Americas
8,Colombia,South America,5.093626e+07,357710,1980.5,11939.0,300.0,1.923550e+05,1706.0,1.534160e+05,1493.0,7023.0,234.0,1801835.0,35374.0,Americas
9,Spain,Europe,4.675665e+07,354530,1980.5,28500.0,300.0,5.887898e+04,1706.0,2.766433e+04,617.0,7582.0,610.0,7064329.0,151087.0,Europe

In [40]:
#reference = data6.set_index(['TotalDeaths', 'Date'])['New_Data']
#data3['New_Data'] = data3.set_index(['TotalDeaths', 'Date']).index.map(reference)
#merged_data = pd.merge(data3, data6, on=['TotalDeaths','Date'], how='inner')
#new_data = new_data.dropna(subset=['TotalDeaths', 'TotalCases', 'Population', 'Date', 'Continent'])

fig = px.scatter_geo(data3,
                        locations='Country/Region',
                        locationmode='country names',
                        color='Continent',
                        size='TotalCases',
                        hover_name='Country/Region',
                        projection='natural earth',
                        title='COVID-19 Total Cases by Country')
fig2 = px.bar(data3, x='Country/Region', y='TotalDeaths')
fig3 = px.pie(data1, values='Recovered',names='Country/Region',title='Recovery Rate')
fig4 = px.scatter(data3,
                    x='TotalDeaths',
                    y='TotalCases',
                    #animation_frame='TotalRecovered',
                    animation_group='Country/Region',
                    size='Population',color= 'Continent',
                    hover_name='Country/Region',
                    facet_col='Continent',
                    log_x=True,size_max=45,range_x=[100,1000],range_y=[100,60000])
#fig5=px.bar(data4,x='Deaths',color='Confirmed',title='nnnnnn')

app = dash.Dash('COVID')

app.layout = html.Div([ 
    html.H1("COVID-19 Dashboard",style={'fontSize':'48px','textAlign':'center'}),
    dcc.Graph(figure=fig),
    dcc.Graph(figure=fig2),
    dcc.Graph(figure=fig3,),
    dcc.Graph(figure=fig4),
    #dcc.Graph(figure=fig5),
html.H4('Data Analysis using scatter matrix',style={'fontSize':'48px','textAlign':'center'}),  


dcc.Dropdown(
    id = 'dropdown',
    options=[
            {'label': 'TotalDeaths', 'value': 'TotalDeaths'},
            {'label': 'TotalCases', 'value': 'TotalCases'},
            {'label': 'ActiveCases', 'value': 'ActiveCases'},
    ],
    value='TotalDeaths',
    style={'width': '50%', 'display': 'inline-block'}
),
dcc.Graph(id='covid-graph')
])
@app.callback(
    Output('covid-graph','figure'),
    Input('dropdown','value'),
)
def update_bar_chart(selected_value,):
    if selected_value not in ['TotalDeaths', 'TotalCases', 'ActiveCases']:
        raise ValueError(f"Invalid value: {selected_value}")
    #filtered_data = data3[data3['Country/Region'] == selected_country]
    #filtered_data = filtered_data.dropna(subset=[selected_value])
    fig5 = px.scatter_geo(data3,
                        locations='Country/Region',
                        locationmode='country names',
                        color='Continent',
                        size=selected_value,
                        hover_name='Country/Region',
                        projection='natural earth',
                        title=f'COVID-19 {selected_value} by Country')
    
    return fig5 


app.run_server(debug=True, port=8051)